*{
    margin:0;
    padding: 0;
}
body {
    height: 100vh;
}
audio {
    display: none;
}
.kitchen {
    width: 70vw;
    margin: auto;
}
.kitchen img{
    height: 100vh;
}
.missandmrchili {
    width: 30%;
    position: absolute;
    top: 38%;
    left: 28%;
}
.chili {
    width: 49%;
    transform: rotateY(180deg);
    position: absolute;
    left: 95%;
    top: 43%;
   animation: moveHim 3s forwards;
}

@keyframes moveHim {
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100% {
        transform: translateX(-140%) rotateY(180deg);
    }
}

.moveGirl {
    width: 180px;
    height: 360px;
    position: absolute;
    top: 20%;
    left: 0px;
    animation: moveHer 2s forwards;
}

@keyframes moveHer {
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100% {
        transform: translateX(230%);
    }
}

.girl {
    width: 180px;
    height: 360px;
    position: absolute;
    top: 45%;
    left: 0px;
    background-image: url(../images/MissChiliWalk2.png);
    background-position: 2px 0px;
    z-index: 100;
    animation: walk 1.5s steps(9) forwards;
}
@keyframes walk {
    100% {
        background-position: -1800px 0px;
    }
}

