body{
            background-color: #8cc63f;
        }
        .sky {
            width: 100%;
            height: 15%;
            background-color: #8ccbf9;
            position: absolute;
            top:0;
            left:0;
            z-index: -100;
        }

        .bg {
            background-image: url(../images/characters2.svg);
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            z-index: 100;
        }
    .girl {
            width: 80px;
            height: 150px;
            position: absolute;
            top: 6%;
            left:2%;
            background-image: url(../images/MissChiliwalk_779x150.png);
            background-position: 2px 0px;
            animation: walk 1.5s infinite steps(9);
        }

        .doughnut {
            width: 20%;
            position: absolute;
            top: 3%;
            left:8%;
        }
        .flour {
            width: 15%;
            position: absolute;
            top: 57%;
            left:25%;
            filter: drop-shadow(10px 0px 8px rgba(256,256,256,0.8));
        }
        .sugar{
            width: 18%;
            position: absolute;
            top: 15%;
            left:56%;
            filter: drop-shadow(10px 0px 8px rgba(256,256,256,0.8));
        }
        .chocolate{
            width: 10%;
            position: absolute;
            top: 62%;
            left:58%;
            filter: drop-shadow(10px 0px 8px rgba(256,256,256,0.8));
        }
        .milk{
            width: 15%;
            position: absolute;
            top: 25%;
            left:35%;
            filter: drop-shadow(10px 0px 8px rgba(256,256,256,0.8));
        }
        .butter{
            width: 15%;
            position: absolute;
            top: 72%;
            left:4%;
            filter: drop-shadow(10px 0px 8px rgba(256,256,256,0.8));
        }
        .egg{
            width: 16%;
            position: absolute;
            top: 35%;
            left:71%;
            filter: drop-shadow(10px 0px 8px rgba(256,256,256,0.8));

        }
        .macaron{
            width: 20%;
            position: absolute;
            top: 10%;
            left:23%;
        }
        .chili {
            width: 15%;
            position: absolute;
            top: 5%;
            left: 3%;
            animation: float 5s 2s infinite;
        }

        @keyframes float {
            25% {
                transform: translateY(-10px);
            }
            75% {
                transform: translateY(10px);
            }
        }
        .burger {
            width: 15%;
            position: absolute;
            top: 85%;
            left: 56%;
        }


        @keyframes walk {
            100% {
                background-position: -779px 0px;
            }
        }

        .shakeCSS2 {
            animation: shakeit 0.5s 1s infinite ease-in-out;
        }
        @keyframes shakeit {
            25% {
                transform: translateY(-2px);
            }
            75% {
                transform: translateY(2px);
            }
        }
        .shakeCSS1 {
            animation: shakeitoff 1s infinite ease-in-out;
        }
        @keyframes shakeitoff {
            25% {
                transform: translateX(3px);
            }
            75% {
                transform: translateX(-3px);
            }
        }
