body {
    background-color: #8cc63f;
}

audio {
    display: none;
}

.sky {
    width: 100%;
    height: 15%;
    background-color: #8ccbf9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.bg {
    background-image: url(../images/characters2.svg);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: 100;
}

.girl {
    width: 80px;
    height: 150px;
    position: absolute;
    top: 5%;
    left: 2%;
    background-image: url(../images/misschili.svg);
    background-position: 0px 0px;
    z-index: 90;
}

.pickDoughnut {
    animation: walk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes walk {
    100% {
        background-position: -779px 0px;
        top: 3%;
        left: 8%;
    }
}

.shakeGirlDougnut {
    animation: shakegirl 0.2s 1 ease-in-out;
}

@keyframes shakegirl {
    0% {
        top: 3%;
        left: 8%;
    }
    25% {
        top: 3%;
        left: 7%;
    }
    100% {
        top: 3%;
        left: 9%;
    }
}

.burnDoughnut {
    width: 156.5px;
    height: 160px;
    z-index: 100;
    position: absolute;
    top: 5%;
    left: 3%;
    animation: fire 1.5s steps(5) forwards;
    background-image: url(../images/MrChiliFire.png);
    background-position: 2px 0px;
}

@keyframes fire {
    50% {
        transform: translateX(80px) translateY(10px);
    }
    100% {
        background-position: -782px 0px;
        transform: translateX(80px) translateY(10px);
    }
}

.pickMacaron {
    animation: Macwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes Macwalk {
    100% {
        background-position: -779px 0px;
        top: 10%;
        left: 23%;
    }
}

.shakeGirlMac {
    animation: shakegirlmac 0.2s 1 ease-in-out;
}

@keyframes shakegirlmac {
    0% {
        top: 10%;
        left: 23%;
    }
    25% {
        top: 10%;
        left: 22%;
    }
    100% {
        top: 10%;
        left: 23%;
    }
}

.burnMacaron {
    width: 156.5px;
    height: 160px;
    z-index: 100;
    position: absolute;
    top: 5%;
    left: 3%;
    animation: Macfire 1.5s steps(5) forwards;
    background-image: url(../images/MrChiliFire.png);
    background-position: 2px 0px;
}

@keyframes Macfire {
    50% {
        transform: translateX(300px) translateY(10px);
    }
    100% {
        background-position: -782px 0px;
        transform: translateX(300px) translateY(10px);
    }
}

.pickMilk {
    animation: Milkwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes Milkwalk {
    100% {
        background-position: -779px 0px;
        top: 25%;
        left: 35%;
    }
}

.jumpMilk {
    animation: jumpmilk 0.3s 1 forwards;
}

@keyframes jumpmilk {
    0% {
        top: 22%;
        left: 35%;
    }
    25% {
        top: 20%;
        left: 35%;
    }
    50% {
        transform: scale(0.98);
        top: 22%;
        left: 35%;
    }
    100% {
        top: 24%;
        left: 35%;
    }
}

.pickSugar {
    animation: Sugarwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes Sugarwalk {
    100% {
        background-position: -779px 0px;
        top: 15%;
        left: 56%;
    }
}

.jumpSugar {
    animation: jumpsugar 0.3s 1 forwards;
}

@keyframes jumpsugar {
    0% {
        top: 12%;
        left: 56%;
    }
    25% {
        top: 12%;
        left: 56%;
    }
    50% {
        transform: scale(0.98);
        top: 15%;
        left: 56%;
    }
    100% {
        top: 17%;
        left: 56%;
    }
}

.pickEgg {
    animation: Eggwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes Eggwalk {
    100% {
        background-position: -779px 0px;
        top: 35%;
        left: 71%;
    }
}

.jumpEgg {
    animation: jumpegg 0.3s 1 forwards;
}

@keyframes jumpegg {
    0% {
        top: 32%;
        left: 71%;
    }
    25% {
        top: 32%;
        left: 71%;
    }
    50% {
        transform: scale(0.98);
        top: 35%;
        left: 71%;
    }
    100% {
        top: 37%;
        left: 71%;
    }
}

.pickChocolate {
    animation: Chocowalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes Chocowalk {
    100% {
        background-position: -779px 0px;
        top: 52%;
        left: 54%;
    }
}

.jumpChocolate {
    animation: jumpchoco 0.3s 1 forwards;
}

@keyframes jumpchoco {
    0% {
        top: 52%;
        left: 54%;
    }
    50% {
        transform: scale(0.98);
        top: 50%;
        left: 54%;
    }
    100% {
        top: 57%;
        left: 54%;
    }
}

.pickFlour {
    animation: flourwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes flourwalk {
    100% {
        background-position: -779px 0px;
        top: 52%;
        left: 24%;
    }
}

.jumpFlour {
    animation: jumpflour 0.3s 1 forwards;
}

@keyframes jumpflour {
    0% {
        top: 52%;
        left: 24%;
    }
    50% {
        transform: scale(0.98);
        top: 50%;
        left: 24%;
    }
    100% {
        top: 57%;
        left: 24%;
    }
}

.pickButter {
    animation: butterwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes butterwalk {
    100% {
        background-position: -779px 0px;
        top: 72%;
        left: 3%;
    }
}

.jumpButter {
    animation: jumpbutter 0.3s 1 forwards;
}

@keyframes jumpbutter {
    0% {
        top: 72%;
        left: 3%;
    }
    50% {
        transform: scale(0.98);
        top: 70%;
        left: 3%;
    }
    100% {
        top: 75%;
        left: 3%;
    }
}

.doughnut {
    width: 20%;
    position: absolute;
    top: 3%;
    left: 8%;
}

.flour {
    width: 15%;
    position: absolute;
    top: 57%;
    left: 25%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
}

.sugar {
    width: 18%;
    position: absolute;
    top: 15%;
    left: 56%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
}

.chocolate {
    width: 10%;
    position: absolute;
    top: 62%;
    left: 58%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
}

.milk {
    width: 15%;
    position: absolute;
    top: 25%;
    left: 35%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
}

.butter {
    width: 15%;
    position: absolute;
    top: 72%;
    left: 4%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
}

.egg {
    width: 16%;
    position: absolute;
    top: 35%;
    left: 71%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
}

.macaron {
    width: 20%;
    position: absolute;
    top: 10%;
    left: 23%;
}

.chili-def {
    width: 15%;
    position: absolute;
    top: 5%;
    left: 3%;
    animation: float 5s 2s infinite;
    z-index: -1;
}

@keyframes float {
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
}
.pickBowl2 {
    animation: bowlwalk2 1.5s steps(9);
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes bowlwalk2 {
    50% {
        background-position: -779px 0px;
        top: 82%;
        left: 23%;
    }
}

.pickBowl {
    animation: bowlwalk 1.5s steps(9) forwards;
    background-image: url(../images/MissChiliwalk_779x150.png);
    background-position: 2px 0px;
}

@keyframes bowlwalk {
    100% {
        background-position: -779px 0px;
        top: 82%;
        left: 23%;
    }
}

.bowl {
    width: 20%;
    position: absolute;
    top: 79%;
    left: 21%;
    filter: drop-shadow(10px 0px 8px rgba(256, 256, 256, 0.8));
    animation: bowlshake 5s 2s infinite linear;
}

@keyframes bowlshake {
    25% {
        transform: translateY(-1px) rotate(4deg);
    }
    75% {
        transform: translateY(1px) rotate(-4deg);
    }
}

.burger {
    width: 15%;
    position: absolute;
    top: 85%;
    left: 57%;
}

.burnBurger {
    width: 156.5px;
    height: 160px;
    z-index: 300;
    position: absolute;
    top: 5%;
    left: 3%;
    animation: fireBurger 1.5s steps(5) forwards;
    background-image: url(../images/MrChiliFire.png);
    background-position: 2px 0px;
}

@keyframes fireBurger {
    25%{
        top: 80%;
        left: 25%;
    }
    100% {
        background-position: -782px 0px;
        top: 80%;
        left: 25%;
    }
}


.burgerAttack {
    animation: burgerattack 1.5s linear forwards;
    z-index:200;
    filter: drop-shadow(25px 10px 13px rgba(195,0,0, 1));
}

@keyframes burgerattack {
    0% {
        top: 85%;
        left: 57%;
    }
    25% {
        top: 75%;
        left: 41%;
    }
    75% {
        top: 84%;
        left: 31%;
    }
    100%{
        top: 85%;
        left: 28%;
    }
}

.music-button {
    width: 10%;
    position: absolute;
    top: 1%;
    left: 91%;
    cursor: pointer;
}

.shakeCSS2 {
    animation: shakeit 0.5s 1s infinite ease-in-out;
}

@keyframes shakeit {
    25% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(2px);
    }
}

.shakeCSS1 {
    animation: shakeitoff 1s infinite ease-in-out;
}

@keyframes shakeitoff {
    25% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
}


/* hide chili*/

.hide {
    display: none;
}

/* fly ingreds into the bowl*/
.bowlFly {
    animation: flyBowl 0.5s;
}

@keyframes flyBowl {
    75% {
        top: 75%;
        left: 26%;
    }
    100%{
        top:85%;
        left: 26%
    }
}

.cake{
   width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    filter: drop-shadow(25px 10px 13px rgba(244,194,194, 1));
}
.cakegrow{
    animation: grow 4s reverse;
}

@keyframes grow {
    to{
        transform: scale(2);
    }
}

.kitchen {
    width: 70vw;
    margin: auto;
}
.kitchen img{
    height: 100vh;
}

.cakeKitchen{
    animation: shrink 4s forwards;
}

@keyframes shrink {
    to{
        transform: scale(0.3) translateY(-50%) translateX(100%);

    }
}

.missandmrchili {
    width: 30%;
    position: absolute;
    top: 38%;
    left: 28%;
}
